/* Fonts
font-family: "Rubik Bubbles", system-ui;
font-family: "Rubik Puddles", system-ui; outline
font-family: "Henny Penny", system-ui; whimsical, handwriting
font-family: "Flavors", cursive; snow effect handwriting
*/

/* Color scheme
snow        #fffaed
beige       #ece2c8
light red   #d03b33
dark red    #aa2d27
light brown #967748
dark brown  #6f5747 */

:root {
    
}