/* Fonts
font-family: "Rubik Bubbles", system-ui;
font-family: "Rubik Puddles", system-ui; outline
font-family: "Henny Penny", system-ui; whimsical, handwriting
font-family: "Flavors", cursive; snow effect handwriting
*/

:root {
    --snow: #fffaed
    --beige: #ece2c8
    --light-red: #d03b33
    --dark-red: ##b92213
    --light-brown: #967748
    --dark-brown: #6f5747 
}

html, body {
    margin: 0;
    padding: 0;
}

.open-gift-section {
    background-color: var(--dark-red);
    width: 100vw;
    height: 100vh;
}