/* Fonts
font-family: "Rubik Bubbles", system-ui;
font-family: "Rubik Puddles", system-ui; outline
font-family: "Henny Penny", system-ui; whimsical, handwriting
font-family: "Flavors", cursive; snow effect handwriting
*/

:root {
    --snow: #fffaed;
    --beige: #ece2c8;
    --light-red: #d03b33;
    --dark-red: #b92213;
    --light-brown: #967748;
    --dark-brown: #523a2a;
}

html, body {
    margin: 0;
    padding: 0;
    cursor: url("unwrap/mitten.png") 16 16, auto;
    overflow: hidden;
}

.open-gift-section {
    background-color: var(--beige);
    width: 100vw;
    height: 110vh;
    box-sizing: border-box;
    padding: 0;
}

#instruction-p {
    font-family: "Henny Penny", Arial;
    color: var(--dark-brown);
    font-size: 1.5rem;
    position: absolute;
    text-align: right;
    top: 90%;
    left: 63%;
}

.tag-box {
    position: absolute;
    top: 53%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(3deg);
}

.tag-box:hover {
    transform: rotate(10deg);
    transition: 700ms;
}

#tag {
    position: absolute;
    width: 13.5rem;
}

#tag-text {
    font-size: .7rem;
    font-family: "Henny Penny", system-ui;
    position: absolute;
    top: 80%;
    left: 38%;
    transform: translate(72%, 100%) rotate(3deg);
    line-height: 2;
    color: var(--dark-brown);
    white-space: nowrap;
}

#bow {
    width: 17rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bow:hover {
    transform: translate(-50%, -50%) rotate(15deg) scale(1.05);
    transition: 700ms;
}

.horizontal-ribbon {
    position: absolute;
    z-index: 0;
    width: 40rem;
    height: 40rem;
    background-color: var(--light-red);
    border: 2px solid var(--dark-red);
}