/* Fonts
font-family: "Rubik Bubbles", system-ui;
font-family: "Rubik Puddles", system-ui; outline
font-family: "Henny Penny", system-ui; whimsical, handwriting
font-family: "Flavors", cursive; snow effect handwriting
*/

:root {
    --snow: #fffaed;
    --beige: #ece2c8;
    --light-red: #d03b33;
    --dark-red: #b92213;
    --light-brown: #967748;
    --dark-brown: #523a2a;
}

html, body {
    margin: 0;
    padding: 0;
    cursor: url("unwrap/mitten.png") 16 16, auto;
    overflow: hidden;
}

.open-gift-section {
    background-color: var(--beige);
    width: 100vw;
    height: 101vh;
    box-sizing: border-box;
    margin-top: -.5rem; /* fix spacing at top */
    padding: 0;
}

.open-gift-section p {
    font-family: "Henny Penny", Arial;
    color: var(--dark-brown);
    
    font-size: 1.5rem;
    position: absolute;
    text-align: right;
    top: 90%;
    left: 63%;
}

p:hover {
    cursor: url("unwrap/mitten.png") 16 16, auto;
}

.tag-box {
    position: absolute;
    transform: rotate(7deg);
    top: 68%;
    left: 40%;
    transform: translate(-80%, -40%);
}


.tag-box #tag {
    position: absolute;
    width: 13.5rem;
}
/*
.tag-box:hover {
    transform: rotate(18deg);
    cursor: url("unwrap/mitten.png") 16 16, auto;
    transition: 700ms;
}


#tag-text {
    font-family: "Henny Penny", Arial;
    color: var(--dark-brown);
    font-size: .9rem;
    position: absolute;
    top: 68%;
    left: 40%;
    transform: translate(-80%, -40%);
    text-align: center;
    line-height: 1.2;
    transform: rotate(7deg);
}*/

#bow {
    width: 17rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bow:hover {
    transform: translate(-50%, -50%) rotate(15deg) scale(1.05);
    transition: 700ms;
}

.horizontal-ribbon {
    width: 40rem;
    height: 40rem;
    background-color: var(--light-red);
    border: 2px solid var(--dark-red);
}